<img id="logo" src="/img/logo.jpg" height="100px"/>
<h1 class="headline">I Love Lamps</h1>

<ul class="nav">
  <li><a href='/'>Home</a></li>
  <li><a href='/buy/3'>Buy</a></li>
  <li><a href='/'>Blog</a></li>
  <li><a href='/'>Careers</a></li>
  <li><a href='/'>About</a></li>
</ul>
